<div class="d-flex flex-column gap-2">
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">Produto</th>
        <th scope="col">Qnt</th>
        <th scope="col">Valor Unitário</th>
        <th scope="col">Valor Total</th>
        <th>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
               viewBox="0 0 16 16">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
            <path
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
          </svg>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of visor; let i = index" class="align-middle">
        <th>{{item.product}}</th>
        <td>{{item.amount}}</td>
        <td>{{item.unitaryValue | currency: 'BRL'}}</td>
        <td>{{item.totalValue | currency: 'BRL'}}</td>
        <td>
          <button (click)="deleteHandler(i)"
                  class="btn btn-outline-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
            </svg>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between p-2">
      <p class="h-auto align-self-end m-0">
        Troco
      </p>
      <p *ngIf="troco >= 0; else erro" class="h-auto align-self-end m-0">
        {{troco | currency: 'BRL'}}
      </p>
      <ng-template #erro>
        <p>Dinheiro Insuficiente!</p>
      </ng-template>
    </li>
    <li class="list-group-item d-flex justify-content-between p-2">
      <p class="h-auto align-self-end m-0">
        Desconto
      </p>
      <p class="h-auto align-self-end m-0">
        {{_cash.discount | currency: 'BRL'}}
      </p>
    </li>
    <li class="list-group-item d-flex justify-content-between p-2">
      <p class="h-auto align-self-end m-0">
        Total
      </p>
      <p class="h-auto align-self-end m-0">
        {{total | currency: 'BRL'}}
      </p>
    </li>
  </ul>
  <div class="input-group">
    <input type="text" placeholder="Código de Barras" id="codigoBarras"
           [formControl]="codigoControl"
           class="form-control">
    <button (click)="clikHandler()" class="btn btn-primary btn-sm">Enviar</button>
  </div>
  <div [ngClass]="{'d-none': barCodeInputIsValid}">
    <p class="invalid-message">Código Inválido</p>
  </div>
</div>
