.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1.5rem;
  justify-items: center;
}
@media (max-width: 1200px) {
  .content-container {
    grid-template-columns: 1fr;
  }
}

app-formulario {
  width: clamp(20rem, 100%, 50rem);
}

app-visor-vendas {
  width: clamp(20rem, 100%, 50rem);
}
