<app-full>
  <div class="container-content">
    <app-card-generico
      titulo="Produtos Cadastrados"
      [variacao]="totalProduto | async"
      subtexto="Aumento de 40%"
      [isGrowing]="true"
      textoBotao="Adicionar Produto"
      classeBotao="btn-primary"
      (clickBotao)="clickBotaoHandler()"></app-card-generico>
    <app-card-generico
      titulo="Produtos Em Estoque"
      [variacao]="4"
      [isGrowing]="true"
      subtexto="Aumento de 300%"
      textoBotao="Adicionar Estoque"
      classeBotao="btn-success"></app-card-generico>
    <app-card-generico
      titulo="Produtos Sem Estoque"
      [variacao]="3"
      [isGrowing] = "false"
      subtexto="Diminuição de 25%"
      textoBotao="Baixa Estoque"
      classeBotao="btn-danger"></app-card-generico>
      <app-tabela-listagem-produto></app-tabela-listagem-produto>
  </div>
</app-full>
