// @import 'ag-grid-community/styles/ag-grid.sass';
// @import 'ag-grid-community/styles/ag-theme-alpine.scss';

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1.5rem 1rem 0 1rem;
}

app-table {
  grid-column: 1 / 4;
}
