<div class="card shadow-lg p-3">
  <div class="card-body">
    <p class="card-text">{{titulo}}</p>
    <div class="d-flex gap-3 align-items-end">
      <h5 class="card-title fs-1">{{variacao}}</h5>
      <div class="d-flex flex-column">
        <img *ngIf="isGrowing" src="/assets/graph-up-arrow.svg" class="filter-green" alt="seta para cima">
        <img *ngIf="!isGrowing" src="/assets/graph-down-arrow.svg" class="filter-red" alt="seta para baixo">
        <p class="card-subtitle mb-2 text-body-secondary fs-6">{{subtexto}}</p>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button
      [class]="['btn', 'btn-sm', classeBotao]"
      (click)="handleClick()">{{textoBotao}}</button>
  </div>
</div>
