ul {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}

img{
    width: 2rem;
    margin-bottom: 2rem;
}

a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.nav-container {
    height: 100vh;
    overflow-y: auto;
}
