/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
    --g-24: repeat(24, minmax(0, 1fr));
}

body {
    min-height: 100vh;
    display: flex;
}

*, *::before, *::after {
    box-sizing: border-box;
}

app-root {
    flex-grow: 1;
}

.debug {
    border: 1px solid red;
}

router-outlet {
  display: none !important;
}
.ng-invalid.ng-dirty{
  @extend .is-invalid
}

@media (min-width: 992px) {
  ngb-offcanvas-panel {
    display: none !important;
  }
}
